.header__container {
    font-family: 'Open Sans', sans-serif;
    width: 89%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}