main {
    font-family: 'Poppins', sans-serif;
    width: 89%;
    margin: 13rem auto;
}

.main__subject {
    text-align: center;
}

.main__title {
    font-size: 2.7rem;
    color: #121724;
    font-weight: 700;
}

.main__description {
    font-family: 'Open Sans', sans-serif;
    width: 53.4%;
    font-size: 1.15rem;
    line-height: 1.5em;
    margin: 1.7rem auto;
    color: #4b4c4d;
    font-weight: 600;
    text-align: justify;
    text-align-last: center;
}

/* aumentar fontes no media querry. */